https://github.com/cloudify-cosmo/cloudify-dsl-parser/archive/3.3m6.zip
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/3.3m6.zip
https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/3.3m6.zip
