-e git+https://github.com/cloudify-cosmo/cloudify-dsl-parser@3.3m4#egg=cloudify-dsl-parser==3.3a4
-e git+https://github.com/cloudify-cosmo/cloudify-rest-client@3.3m4#egg=cloudify-rest-client==3.3a4
-e git+https://github.com/cloudify-cosmo/cloudify-plugins-common@3.3m4#egg=cloudify-plugins-common==3.3a4
