##################################################################################
# Cloudify OpenStack built in types and plugins definitions.
##################################################################################

plugins:
    openstack:
        executor: central_deployment_agent
        source: https://github.com/cloudify-cosmo/cloudify-openstack-plugin/archive/{{ plugin_branch }}.zip

node_types:
    cloudify.openstack.server:
        derived_from: cloudify.types.host
        properties:
            server: {}
            use_external_resource:
                default: false
            resource_id:
                default: ''
            management_network_name:
                default: ''
            openstack_config:
                default: {}
        interfaces:
            cloudify.interfaces.lifecycle:
                create:
                    implementation: openstack.nova_plugin.server.create
                    inputs: {}
                start:
                    implementation: openstack.nova_plugin.server.start
                    inputs: {}
                stop:
                    implementation: openstack.nova_plugin.server.stop
                    inputs: {}
                delete:
                    implementation: openstack.nova_plugin.server.delete
                    inputs: {}
            cloudify.interfaces.host:
                get_state:
                    implementation: openstack.nova_plugin.server.get_state
                    inputs: {}
            cloudify.interfaces.validation:
                creation:
                    implementation: openstack.nova_plugin.server.creation_validation
                    inputs: {}
    cloudify.openstack.windows_server:
        derived_from: cloudify.openstack.server
        interfaces:
            cloudify.interfaces.worker_installer:
                install:
                    implementation: windows_agent_installer.windows_agent_installer.tasks.install
                    inputs: {}
                start:
                    implementation: windows_agent_installer.windows_agent_installer.tasks.start
                    inputs: {}
                stop:
                    implementation: windows_agent_installer.windows_agent_installer.tasks.stop
                    inputs: {}
                uninstall:
                    implementation: windows_agent_installer.windows_agent_installer.tasks.uninstall
                    inputs: {}
                restart:
                    implementation: windows_agent_installer.windows_agent_installer.tasks.restart
                    inputs: {}
            cloudify.interfaces.plugin_installer:
                install:
                    implementation: windows_plugin_installer.windows_plugin_installer.tasks.install
                    inputs: {}

    cloudify.openstack.keypair:
        derived_from: cloudify.types.base
        properties:
            keypair:
                default: {}
            private_key_path: {}
            use_external_resource:
                default: false
            resource_id:
                default: ''
            openstack_config:
                default: {}
        interfaces:
            cloudify.interfaces.lifecycle:
                - create: openstack.nova_plugin.keypair.create
                - delete: openstack.nova_plugin.keypair.delete
            cloudify.interfaces.validation:
                - creation: openstack.nova_plugin.keypair.creation_validation

    cloudify.openstack.subnet:
        derived_from: cloudify.types.subnet
        properties:
            subnet: {}
            use_external_resource:
                default: false
            resource_id:
                default: ''
            openstack_config:
                default: {}
        interfaces:
            cloudify.interfaces.lifecycle:
                create:
                    implementation: openstack.neutron_plugin.subnet.create
                    inputs: {}
                delete:
                    implementation: openstack.neutron_plugin.subnet.delete
                    inputs: {}
            cloudify.interfaces.validation:
                creation:
                    implementation: openstack.neutron_plugin.subnet.creation_validation
                    inputs: {}

    cloudify.openstack.security_group:
        derived_from: cloudify.types.base
        properties:
            security_group:
                default: {}
            use_external_resource:
                default: false
            resource_id:
                default: ''
            openstack_config:
                default: {}
            rules:
                default: []
            disable_default_egress_rules:
                default: false
        interfaces:
            cloudify.interfaces.lifecycle:
                create:
                    implementation: openstack.neutron_plugin.security_group.create
                    inputs: {}
                delete:
                    implementation: openstack.neutron_plugin.security_group.delete
                    inputs: {}
            cloudify.interfaces.validation:
                creation:
                    implementation: openstack.neutron_plugin.security_group.creation_validation
                    inputs: {}

    cloudify.openstack.security_group_rule:
        derived_from: cloudify.types.base
        properties:
            security_group_rule: {}
            use_external_resource:
                default: false
            resource_id:
                default: ''
            openstack_config:
                default: {}
        interfaces:
            cloudify.interfaces.lifecycle:
                create:
                    implementation: openstack.neutron_plugin.security_group_rule.create
                    inputs: {}
                delete:
                    implementation: openstack.neutron_plugin.security_group_rule.delete
                    inputs: {}

    cloudify.openstack.router:
        derived_from: cloudify.types.router
        properties:
            router:
                default: {}
            use_external_resource:
                default: false
            resource_id:
                default: ''
            openstack_config:
                default: {}
        interfaces:
            cloudify.interfaces.lifecycle:
                create:
                    implementation: openstack.neutron_plugin.router.create
                    inputs: {}
                delete:
                    implementation: openstack.neutron_plugin.router.delete
                    inputs: {]
            cloudify.interfaces.validation:
                creation:
                    implementation: openstack.neutron_plugin.router.creation_validation
                    inputs: {}

    cloudify.openstack.port:
        derived_from: cloudify.types.base
        properties:
            port:
                default: {}
            use_external_resource:
                default: false
            resource_id:
                default: ''
            openstack_config:
                default: {}
        interfaces:
            cloudify.interfaces.lifecycle:
                create:
                    implementation: openstack.neutron_plugin.port.create
                    inputs: {}
                delete:
                    implementation: openstack.neutron_plugin.port.delete
                    inputs: {}
            cloudify.interfaces.validation:
                creation:
                    implementation: openstack.neutron_plugin.port.creation_validation
                    inputs: {}

    cloudify.openstack.network:
        derived_from: cloudify.types.network
        properties:
            network:
                default: {}
            use_external_resource:
                default: false
            resource_id:
                default: ''
            openstack_config:
                default: {}
        interfaces:
            cloudify.interfaces.lifecycle:
                create:
                    implementation: openstack.neutron_plugin.network.create
                    inputs: {]
                delete:
                    implementation: openstack.neutron_plugin.network.delete
                    inputs: {}
            cloudify.interfaces.validation:
                creation:
                    implementation: openstack.neutron_plugin.network.creation_validation
                    inputs: {}

    cloudify.openstack.floatingip:
        derived_from: cloudify.types.base
        properties:
            floatingip:
                default: {}
            use_external_resource:
                default: false
            resource_id:
                default: ''
            openstack_config:
                default: {}
        interfaces:
            cloudify.interfaces.lifecycle:
                create:
                    implementation: openstack.neutron_plugin.floatingip.create
                    inputs: {}
                delete:
                    implementation: openstack.neutron_plugin.floatingip.delete
                    inputs: {}
            cloudify.interfaces.validation:
                creation:
                    implementation: openstack.neutron_plugin.floatingip.creation_validation
                    inputs: {}

    cloudify.openstack.volume:
        derived_from: cloudify.types.volume
        properties:
            volume: {}
            use_external_resource:
                default: false
            resource_id:
                default: ''
            device_name:
                default: ''
            openstack_config:
                default: {}
        interfaces:
            cloudify.interfaces.lifecycle:
                create:
                    implementation: openstack.cinder_plugin.volume.create
                    inputs: {}
                delete:
                    implementation: openstack.cinder_plugin.volume.delete
                    inputs: {}
            cloudify.interfaces.validation:
                creation:
                    implementation: openstack.cinder_plugin.volume.creation_validation
                    inputs: {}

relationships:
    cloudify.openstack.port_connected_to_security_group:
        derived_from: cloudify.relationships.connected_to
        source_interfaces:
            cloudify.interfaces.relationship_lifecycle:
                establish:
                    implementation: openstack.neutron_plugin.port.connect_security_group
                    inputs: {}

    cloudify.openstack.subnet_connected_to_router:
        derived_from: cloudify.relationships.connected_to
        target_interfaces:
            cloudify.interfaces.relationship_lifecycle:
                establish:
                    implementation: openstack.neutron_plugin.router.connect_subnet
                    inputs: {}
                unlink:
                    implementation: openstack.neutron_plugin.router.disconnect_subnet
                    inputs: {}

    cloudify.openstack.server_connected_to_floating_ip:
        derived_from: cloudify.relationships.connected_to
        source_interfaces:
            cloudify.interfaces.relationship_lifecycle:
                establish:
                    implementation: openstack.nova_plugin.server.connect_floatingip
                    inputs: {}
                unlink:
                    implementation: openstack.nova_plugin.server.disconnect_floatingip
                    inputs: {}

    cloudify.openstack.server_connected_to_security_group:
        derived_from: cloudify.relationships.connected_to
        source_interfaces:
            cloudify.interfaces.relationship_lifecycle:
                establish:
                    implementation: openstack.nova_plugin.server.connect_security_group
                    inputs: {}
                unlink:
                    implementation: openstack.nova_plugin.server.disconnect_security_group
                    inputs: {}

    cloudify.openstack.server_connected_to_port:
        derived_from: cloudify.relationships.connected_to

    cloudify.openstack.server_connected_to_keypair:
        derived_from: cloudify.relationships.connected_to

    cloudify.openstack.floating_ip_connected_to_port:
        derived_from: cloudify.relationships.connected_to

    cloudify.openstack.security_group_rule_in_security_group:
        derived_from: cloudify.relationships.contained_in

    cloudify.openstack.volume_attached_to_server:
        derived_from: cloudify.relationships.connected_to
        target_interfaces:
            cloudify.interfaces.relationship_lifecycle:
                establish:
                    implementation: openstack.nova_plugin.server.attach_volume
                    inputs: {}
                unlink:
                    implementation: openstack.nova_plugin.server.detach_volume
                    inputs: {}
